.testimonialimagecontainer{
    width: 160px;
    overflow: hidden;
    border: 2px;
}
 .testimonialimagecontainer img{
    max-width: 100%;
    object-fit: contain;
 }
 .profilepicImageContainer{
    width: 60px;
    height: 60px;
    overflow: hidden;
    border-radius: 50%;
 }
 .profilepicImageContainer img{
   max-width:  100%;
   max-height:   100%;
    object-fit: contain;
 }